{#
/**
 * @file
 * Default theme implementation of a webform autoaddress composite.
 *
 * Available variables:
 * - content: The webform autoaddress composite to be output.

 * @see template_preprocess_webform_example_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform_postcodeapi/webform_postcodeapi') }}
{{ content.zip_code }}
<div class="m-form__group">
    <div class="m-form__group-item m-form__group-item--3">
        {{ content.house_number }}
    </div>
    <div class="m-form__group-item">
        {{ content.house_number_ext }}
    </div>
</div>
{{ content|without('zip_code','house_number','house_number_ext') }}

